.track
{
  border: 1px solid #ccc;
  position: relative;
  height: 100px;
  }

.clip
{
  border: 1px solid #eee;
  position: absolute;
  }


.clip .canvas-clip
{
  height: 100px;
  float: left;
  overflow: hidden;
}

.clip .left-handle
{
  float: left;
  width: 20px;
  height: 100px;
  background: #ccc;
  }

.clip .right-handle
{
  float: right;
  width: 20px;
  height: 100px;
  background: #ccc;
  }