
#play-position
{
    position: absolute;
    width: 1px;
    height: 200px;
    background: #ccc;
    z-index: 10;
}

#arrangement
{
    position: relative;
    width: 100%;
    overflow: scroll;
}

#search
{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0px;
    height: 100px;
    overflow: scroll;
}

.track
{
    border: 1px solid #ccc;
    position: relative;
    height: 100px;
}

.clip
{
    border: 1px solid #eee;
    position: absolute;
    overflow: hidden;
}

.clip canvas
{
    position: relative;
}

.clip .left-handle
{
    top: 0px;
    left: 0px;
    width: 20px;
    height: 100px;
    position: absolute;
    opacity: 0.5;
    z-index: 10;
}

.clip:hover .left-handle
{
    Background: #ccc;
}

.clip .right-handle
{
    top: 0px;
    right: 0px;
    width: 20px;
    height: 100px;
    position: absolute;
    opacity: 0.5;
    z-index: 10;
}

.clip:hover .right-handle
{
    Background: #ccc;
}