
#play-position
{
    position: absolute;
    width: 1px;
    background: #777;
    z-index: 10;
}

#arrangement
{
    position: relative;
    width: 100%;
    overflow: scroll;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

#search
{
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0px;
    height: 100px;
    overflow: scroll;
}

.sound
{
    float: left;
    margin: 0 5px 5px 0;
}

.sound a
{
    display: block;
    position: relative;
    color: #444;
    text-decoration: none;
}

.sound h6
{
    position: absolute;
    top: 10px;
}

.sound img
{
    background: #999;
    height: 50px;
}

.track
{
    border-bottom: 1px solid #ccc;
    position: relative;
    height: 100px;
    width: 100%;
}

.track canvas
{
    position: absolute;
    left: 0px;
}

.clip
{
    border: 1px solid #eee;
    position: absolute;
    overflow: hidden;
}

.clip.selected
{
    border: 1px dashed red;
}

.clip canvas
{
    position: relative;
}

.clip .left-handle
{
    top: 0px;
    left: 0px;
    width: 20px;
    height: 100px;
    position: absolute;
    opacity: 0.5;
    z-index: 10;
}

.clip:hover .left-handle
{
    Background: #ccc;
}

.clip .right-handle
{
    top: 0px;
    right: 0px;
    width: 20px;
    height: 100px;
    position: absolute;
    opacity: 0.5;
    z-index: 10;
}

.clip:hover .right-handle
{
    Background: #ccc;
}